//https://material.io/design/color/the-color-system.html#color-theme-creation
:root {
--color-primary: #6200EE;
--color-secondary: #03DAC6;
--color-error: #B00020;
--color-background: #FFFFFF;
--color-surface: #FFFFFF;
};
