//https://material.io/design/layout/understanding-layout.html#layout-anatomy
:root {

//screen-size

--screen-extra-small: 599px;
--screen-small-1: 904px;
--screen-small-2: 1239px;
--screen-medium: 1439;

//margin

--margin-for-screen-extra-small: 16px;
--margin-for-screen-small-1: 32px;
--margin-for-screen-medium: 200px;

//body

--body-for-screen-small-2: 840px;
--body-for-screen-large: 1040;

//layout-colums

--columns-for-screen-extra-small: 4;
--columns-for-screen-small-1: 8;
--columns-for-screen-small-2: 12;
--columns-for-screen-medium: 12;
--columns-for-screen-large: 12;


};
