//https://material.io/design/color/the-color-system.html#color-theme-creation
:root {
--shape-rounded-small-component: 4px;
--shape-cut-small-component: 4px;
--shape-rounded-medium-component: 4px;
--shape-cut-medium-component: 4px;
--shape-rounded-large-component: 24px;
--shape-cut-large-component: 24px;
};
