@use "../../styles/index.module.scss";

.divider {
    margin: 0 0 0 auto;
    height: 100%;
    border-width: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: 0;
    border-right-width: thin;
};

