@use "../../styles/index.module.scss";
//@use "material-components-web/material-components-web";
//@use "../../variable";


.button {
  color: var(--color-primary);
  min-width: 64px;
  padding: 6px 16px;
  border: 1px solid;
  border-radius: var(--shape-rounded-small-component);


};

