
.Header {
  background-color: var(--primary-color);
  display: grid;
  position: sticky;
}


  // th: auto;
  // min-width: none; 
  // height: auto;
  // min-height: auto;
  // max-height: none;
  // padding: auto;
  // border: none;
  // margin: none;
  // border-radius: 0;





// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

 

// 	.App-logo {
// 		height: 10vmin;
// 		pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }
